.vscode/
.vscodeignore
*.vsix

.git/
.gitignore
*.md
!README.md
!CHANGELOG.md
.DS_Store
src/
tsconfig.json
**/*.map
.vscode-test/
node_modules/**
!node_modules/vscode-languageclient/**
!node_modules/vscode-languageclient/node_modules/**
!node_modules/vscode-jsonrpc/**
!node_modules/vscode-languageserver-protocol/**
!node_modules/vscode-languageserver-types/**
!node_modules/semver/**
!node_modules/balanced-match/**
package-lock.json
